@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;           
    margin: 0;               
    text-align: center;       
    background-color: #361856; 
}

.content {
    height: 400px;
    width: 600px;        
    margin: 20px;             
    padding: 20px;     
    background-color: #fff;   
    color: #361856;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 12px;       
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;

}

.list_content {    
    height: 200px;
    width: 600px;        
    margin: 20px;             
    padding: 20px;     
    background-color: #fff;   
    color: #361856;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 12px;       
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px; 
    margin: 0 auto; 
    flex-grow: 1; 
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #EA6E2B;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #ED8045;
}

.header {
    display: flex;
    align-items: center;  
    gap: 10px;            
}

arrow-button {
    font-size: 20px;      
    cursor: pointer;
    color: #EA6E2B;
    background: none;     
    border: none;         
    padding: 0;           
}

h3 {
    text-align: center;
}

.two-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: auto;
}



.task_content {
    height: 400px;
    width: 600px;        
    margin: 20px;             
    padding: 20px;     
    background-color: #fff;   
    color: #361856;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 12px;       
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 300px; 
    margin: 0 auto; 
    flex-grow: 1; 
}

label, input, textarea {
    width: 100%; 
}

.button-link {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #EA6E2B;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.tarefa-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.tarefa-item input[type="checkbox"] {
    margin-right: 10px;
}

.tarefa-detalhes {
    margin-left: 30px; /* Ajuste para alinhar detalhes com o título */
}

.tarefa-item label {
    margin-left: 0; /* Remove o espaçamento à esquerda */
}

.tarefa-item input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 0; /* Alinha o checkbox à esquerda */
    transform: scale(1.2); /* Aumenta o tamanho do checkbox para melhor visualização */
}