<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>
    <form action="">
        <div class="list_content">
            <h3>Adicionar lista</h3>
            <label for="title">Título da lista:</label>
            <input type="text" id="list-title" name="list-title" placeholder="Adicionar título...">
            <div class="two-buttons">
                <a href="/home" class="button-link">Cancelar</a>
                <button type="submit">Adicionar</button>
            </div>
        </div>
    </form>
</body>
</html>
