<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>
    <form action="">
        <div class="task_content">
            <h3>Adicionar tarefa</h3>
            <label for="title">Título da tarefa:</label>
            <input type="text" id="task-ttle" name="task-title" placeholder="Adicionar título..." required>
            <label for="date">Data:</label>
            <input type="date" id="task-date" name="task-date" required>
            <label for="time">Hora:</label>
            <input type="time" id="task-time" name="task-time" required>
            <label for="description">Descrição:</label>
            <textarea id="task-description" name="task-description" placeholder="Adicionar descrição" required></textarea>
            <div class="two-buttons">
                <a href="/home">
                    <button>Cancelar</button>
                </a>
                <button type="submit">Adicionar</button>
            </div>
        </div>
    </form>
    
</body>
</html>