<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="list_content">
        <h3>Editar lista</h3>
        <form id="edit-lista-form">
            <label for="lista-titulo">Título da lista:</label>
            <input type="text" id="lista-titulo" name="lista-titulo" value="{{ lista.titulo }}" placeholder="Adicionar título..." required>
            <div class="two-buttons">
                <a href="{{ url_for('web.lista', id=lista.id) }}" class="button-link">Cancelar</a>
                <button type="submit" class="button-link">Salvar</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $('#edit-lista-form').on('submit', function(event) {
                event.preventDefault(); 

                var titulo = $('#lista-titulo').val();
                var listaId = "{{ lista.id }}";  

                $.ajax({
                    url: '/lista/' + listaId + '/edit', 
                    type: 'PUT',  
                    contentType: 'application/json',
                    data: JSON.stringify({ 'lista-titulo': titulo }),  
                    success: function(response) {
                        window.location.href = response.redirect;
                    },
                    error: function(xhr, status, error) {
                        alert('Erro ao atualizar a lista');
                    }
                });
            });
        });
    </script>
</body>
</html>
