<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
<body>
    <div class="task_content">
        <h3>Editar Tarefa</h3>

        <form id="edit-tarefa-form">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" value="{{ tarefa.titulo }}" required><br>

            <label for="data">Data:</label>
            <input type="date" id="data" name="data" value="{{ tarefa.data }}"><br>
            
            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" value="{{ tarefa.hora }}"><br>

            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao">{{ tarefa.descricao }}</textarea><br>

            <div class="two-buttons">
                <a href="{{ url_for('web.lista', id=lista_id) }}" class="button-link">Cancelar</a>
                <button type="submit">Salvar</button>
            </div>

        </form>
    </div>

    <script>
    $(document).ready(function() {
    $('#edit-tarefa-form').on('submit', function(event) {
        event.preventDefault();  

        var tarefaId = "{{ tarefa.id }}"; 
        var listaId = "{{ tarefa.lista_id }}";

        var titulo = $('#titulo').val();
        var data = $('#data').val();
        var hora = $('#hora').val();
        var descricao = $('#descricao').val();

        if (!titulo || !data || !hora) {
            alert('Preencha todos os campos obrigatórios.');
            return;
        }

        $.ajax({
            url: '/listas/' + listaId + '/tarefas/' + tarefaId, 
            type: 'PUT',  
            contentType: 'application/json',
            data: JSON.stringify({
                'titulo': titulo,
                'data': data,
                'hora': hora,
                'descricao': descricao
            }),
            success: function(response) {
                if (response.success) {
                    window.location.href = response.redirect;
                }
            },
            error: function(xhr, status, error) {
                console.error('Erro ao atualizar a tarefa:', xhr.responseText);
                alert('Erro ao atualizar a tarefa');
            }
        });
    });
});
    
    </script>
</body>
</html>
