<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>
    <div class="content">
        <h1>To Do App</h1>
        <p>Esse aplicativo de lista de tarefas oferece uma maneira simples e eficiente de organizar suas atividades. Com ele, você pode criar diversas listas, separando suas tarefas por projetos, prioridades ou áreas de interesse. Além disso, é possível adicionar vários itens a cada lista, facilitando o acompanhamento de cada detalhe importante. Ideal para quem deseja gerenciar seu tempo com mais produtividade e clareza, seja em atividades pessoais ou profissionais.</p>

        <a href="/home">
            <button>Começar a usar</button>
        </a>

        <footer>
            <p>Desenvolvido por: <a href=" https://www.linkedin.com/in/alvarengajv/" target="_blank">João Vitor Alvarenga</a></p>
        </footer>
    </div>
</body>
</html>
